html{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../src/images/enable.jpg');
    height: 100%; /* Ensure HTML takes full height of viewport */
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
    
  .container {
    width: 100%;
    min-height: 100%; /* Ensure container takes full height of viewport */
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }
  
  h1 {
      font-style:normal;
      padding: 0 10% 0px 10%;
      font-family: 'Red Rose', serif;
      width: 100%;
  }
  .white-text {
      color: #fff; /* White color for 'Sky' */
  }
  
  .blue-text {
      color: #10d6cb; /* Blue color for 'Guard' */
  }
  
  #webcamButton {
      width: 150px;
      height: 60px;
      border-radius: 10px; /* Adjust the border-radius for rounded edges */
      background-color: #10d6cb;
      /* color: #1f192f; */
      border: none; /* Remove default button border */
      cursor: pointer; /* Change cursor to pointer on hover */
      font-family: 'Montserrat', sans-serif;
      margin: 10px;
  }
    
  #downloadButton {
      width: 150px;
      height: 60px;
      border-radius: 10px; /* Adjust the border-radius for rounded edges */
      background-color: #10d6cb;
      color: #1f192f;
      border: none; /* Remove default button border */
      cursor: pointer; /* Change cursor to pointer on hover */
      font-family: 'Montserrat', sans-serif;
      margin: 0px;
  }
    
    
    
    
  video {
      display: block;
      justify-self: center;
      margin-top: 40px;
     
  }
    
  section {
      opacity: 1;
      transition: opacity 500ms ease-in-out;
  }
    
  .removed {
      display: none;
  }
  
  #demos p{
    text-align: center;
    padding: 0 10% 0px 10%;
    /* background-color: blue; */
  }
    
  .invisible {
      opacity: 0.2;
  }
    
    .camView {
      position: relative;
      float: left;
      width: calc(100% - 20px);
      margin: 10px 0 0 30%;
      cursor: pointer;
  }
    
  .camView p {
      position: absolute;
      padding: 5px;
      background-color: rgba(255, 111, 0, 0.85);
      color: #FFF;
      border: 1px dashed rgba(255, 255, 255, 0.7);
      z-index: 2;
      font-size: 12px;
  }
    
  .highlighter {
      background: rgba(0, 255, 0, 0.25);
      border: 1px dashed #fff;
      z-index: 1;
      position: absolute;
  }
  
  .action_buttons{
      display: flex;
      justify-content: left;
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: center;
  
      /* background-color: rgb(88, 75, 77); */     
  
  }